*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.log
*.class
*.jar
!gradle-wrapper.jar
.gradle/
build/
out/
.navigation/
captures/
output.json
SigningPlayStore.keystore
google-services.json
google-services (prod).json
app/src/main/assets/videos/
app/release/
app/debug/
*.hprof
.cxx/
*.orig
