<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youtubeweb">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">

        <activity android:name=".MainActivity"
            android:hardwareAccelerated="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>
</manifest>
